{% extends 'navBar.html' %}

{% block title %}
Reset password
{% endblock %}

{% block form_name %}
Reset password
{% endblock %}



{% block form %}
<form method="post" class="mx-auto mt-10 h-4/5 w-4/5 flex flex-col gap-5">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
    <li>{{error}}</li>
    {% endfor %}

    <div class="flex  flex-col gap-3">
        <input type="email" name="email" id="id_email" placeholder="Email"
            class="bg-gray-800 text-white font-bold rounded-2xl p-3 w-full text-center text-xl ">
        <input type="submit" value="Send Code"
            class="bg-violet-900 text-white font-bold rounded-2xl p-3 w-full text-center text-xl cursor-pointer">
    </div>
</form>
{% endblock %}