{% extends 'navBar.html' %}

{% block form_name %}
Change Password
{% endblock %}

{% block title %}
Change password
{% endblock %}

{% block form %}


<form method="post" class="mx-auto mt-10 h-4/5 w-4/5 flex flex-col gap-5">
    {% csrf_token %}

    {% for error in form.non_field_errors %}
    <li>{{error}}</li>
    {% endfor %}

    <div class="flex  flex-col gap-3">

        <input type="password" name="old_password" id="id_old_password" placeholder="Enter old password"
            class="bg-gray-800 text-white font-bold rounded-2xl p-3 w-full text-center text-xl ">
        {% for errors in form.old_password.errors %}
        <li>{{ errors }}</li>
        {% endfor %}

        <input type="password" name="new_password1" id="id_new_password1" placeholder="Enter new password"
            class="bg-gray-800 text-white font-bold rounded-2xl p-3 w-full text-center text-xl ">
        {% for errors in form.new_password1.errors %}
        <li>{{ errors }}</li>
        {% endfor %}

        <input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm new password"
            class="bg-gray-800 text-white font-bold rounded-2xl p-3 w-full text-center text-xl ">
        {% for errors in form.new_password2.errors %}
        <li>{{ errors }}</li>
        {% endfor %}


        <input type="submit" value="Save"
            class="bg-violet-900 text-white font-bold rounded-2xl p-3 w-full text-center text-xl cursor-pointer">
    </div>
</form>

{% endblock%}